version: '3.8'

services:
  text-generation-webui:
    image: atinoda/text-generation-webui:default-cpu
    container_name: text-generation-webui
    restart: unless-stopped
    ports:
      - "7860:7860"
    environment:
      - CLI_ARGS=--listen
    volumes:
      - textgen-ui:/app/text-generation-webui/characters
      - textgen-ui-models:/app/text-generation-webui/models

volumes:
  textgen-ui:
  textgen-ui-models:
