version: '3.8'

services:
  librechat:
    image: ghcr.io/danny-avila/librechat-dev:latest
    container_name: librechat
    restart: unless-stopped
    depends_on:
      - librechat-mongo
      - librechat-redis
      - librechat-meilisearch
    environment:
      - HOST=0.0.0.0
      - PORT=3080
      - MONGODB_URL=mongodb://librechat-mongo:27017/librechat
      - REDIS_HOST=librechat-redis
      - REDIS_PORT=6379
      - MEILI_HOST=librechat-meilisearch
      - MEILI_PORT=7700
    ports:
      - "3080:3080"
    volumes:
      - librechat-uploads:/app/uploads
      - librechat-logs:/app/logs

  librechat-mongo:
    image: mongo:7
    container_name: librechat-mongo
    restart: unless-stopped
    volumes:
      - librechat-mongo:/data/db

  librechat-redis:
    image: redis:7
    container_name: librechat-redis
    restart: unless-stopped
    command: [ "redis-server", "--save", "", "--appendonly", "no" ]
    volumes:
      - librechat-redis:/data

  librechat-meilisearch:
    image: getmeili/meilisearch:v1.10
    container_name: librechat-meilisearch
    restart: unless-stopped
    environment:
      - MEILI_ENV=production
    volumes:
      - librechat-meili:/meili_data

volumes:
  librechat-uploads:
  librechat-logs:
  librechat-mongo:
  librechat-redis:
  librechat-meili:
